@import 'compass';
@import 'breakpoint';

@import 'base/colors';
@import 'vendor/bootstrap/bootstrap/variables';

// Base
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/typography';

#page-head {
  display: none;
}

body {
  padding-top: 0 !important;
}
@media print {
  #schedules-search-form-wrapper {
    a[href]:after {
      content: none !important;
      display: none !important;
    }
  }
}

#block-tabs,
.header-alerts-list,
footer.footer {
  display: none;
}

// Schedules page.
#schedules-search-form-wrapper {
  .selects-container,
  .add-filters,
  .filters-wrapper .filters > .label,
  .filters-wrapper .filters .filter .remove,
  .filters-container .reset-wrapper .clear,
  .alerts-wrapper,
  .branch-hours-wrapper,
  .schedule-title,
  .results .week-control {
    display: none !important;
  }
  form {
    margin-bottom: 0;
  }
  .filters-main-wrapper {
    .filters {
      .filter {
        font-size: 12px;
        margin: 0 20px 10px 0;
      }
    }
  }
  .results {
    h2 {
      font-size: 22px;
      margin: 0px 0px 20px;
    }
    .group_time {
      font: {
        size: 18px;
        weight: bold;
      }
      margin: 10px 0px;
      padding: 4px 0px;
      border-bottom: 1px solid #c6168d;
    }
    .views-row {
      border: none;
      display: inline-block;
      float: none;
      margin: 0;
      padding-top: 2px;
      vertical-align: text-top;
      // Important is needed to override the inline width added by JS.
      width: 25% !important;
      // Hide the Slick cloned rows
      &.slick-cloned {
        display: none;
      }
      h3 {
        font-size: 16px;
        margin: 0px;
        padding: 0px;
      }
      .time {
        font-size: 14px;
      }
      > p,
      > .node--type-class > p {
        display: none;
      }
    }
    .schedule-sessions-group-slider {
      margin-bottom: 10px;
      .slick-track {
        display: block;
        transform: none !important;
        width: 100% !important;
      }
      .slick-arrow,
      .slick-dots {
        display: none !important;
      }
    }
  }
}
